<?xml version="1.0" encoding="utf-8"?>
<widget xmlns:rim="http://www.blackberry.com/ns/widgets" id="bbUISamples" version="0.9.1.1" rim:header="RIM-Widget:rim/widget" xmlns="http://www.w3.org/ns/widgets">
	<name>Clock of Death</name>
	<description>This app for BB10 devices pays homage to the familiar spinning clock face that appears on older Blackberry devices when the device is stuck in an app.</description>
	<author href="https://github.com/karancan">Karan Khiani</author>
	<icon src="img\icon.png" />
	<rim:orientation mode="potrait"/>
	<content src="index.htm" />
	<feature id="blackberry.app" />
</widget>